

@import 'abstracts/variables';



@import 'base/reset';
h1 {
    font-size: 42px;
    text-align: center;
    
    color: black;
    text-shadow: 3px 3px 3px $secondaryColour;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, $secondaryColour 80%, $primaryColour );
    
}
h2{
    text-align: center;
    color: black;
    text-shadow: 3px 3px 3px $secondaryColour;
    
}

p {
    font-size: 21px;
    text-align: center;
}

footer {
    font-size: 11px;
  
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

@import 'layout/header';

@import 'layout/forms';

@import 'components/buttons';
@import 'components/article';

//frontend co mě už nebaví :D 




