article{
    margin-left: 7vw;
    margin-right: 7vw;

    font-size: 21px;
    
    height: auto;
    
    text-align: center;
    background-color: rgba($primaryColour, 0.264);
    align-items: center;
    margin-top: 2vw;

    
    
    
}