
//colours
$primaryColour:rgb(243, 154, 70);
$secondaryColour:rgb(178, 180, 162);

//headerText
$leftMarginOfHeaderText: -285px;
$topMarginOfHeaderText:  42px;

//Heade Logo style

$leftMarginOfHeaderLogo: 20px;
$toptMarginOfHeaderLogo:  -60px;

//header background
$topMarginOfHeader: 105px;