
//colours
$primaryColour:rgb(84, 243, 70);
$secondaryColour:rgb(178, 180, 162);

//headerText
$leftMarginOfHeaderText: -280px;
$topMarginOfHeaderText: 84px;

//Heade Logo style

$leftMarginOfHeaderLogo: 20px;
$toptMarginOfHeaderLogo: -21px;

//header background
$topMarginOfHeader: 145px;