
.header{

   position: absolute;
    font-size: 42px;
    
    left: 0;
    right: 0;
   
    display: flex;
   
    margin-top: -$topMarginOfHeader;
    
    pointer-events: none;
    
}

.headerBackground{
    height: $topMarginOfHeader;
    background: linear-gradient(90deg, $secondaryColour 50%, $primaryColour );
    
    
}

.header__nameOfProject {   

    
    margin-left: $leftMarginOfHeaderText;
    margin-top: $topMarginOfHeaderText;
    
    
    height: fit-content;
    
    min-width: fit-content;
    text-decoration: none;
    cursor: pointer;
    color: black;
    

    pointer-events: all;
    
 
}

.header__logo {
    margin-left: $leftMarginOfHeaderLogo;
   
    margin-top: $toptMarginOfHeaderLogo;
    
    background-image: url('img/logo-static.gif');
    

    min-width:500px;
    height: 220px;
    width: 500px ;
    background-size:     contain;     
    background-repeat:   no-repeat;
    
    
    pointer-events: all;
    
   
   

   
    
}

.header__logo:hover {
    background-image: url('img/logo.gif');
    
}


.header__loginStatus {
 
    margin-top: $topMarginOfHeaderText;
    margin-left: 20vw;
    font-size: 11;
    
    height: fit-content;
    cursor: pointer;
    color: black;
    pointer-events: all;
    text-decoration: none;
    
}

.header__emptySpace {
    color: black;
    min-height: 7px;
    
}